<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publishing House Listing</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" >


    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Publishing houses</h1>
            </div>
            <div class="row col-md-12 list-header-row">
                <div class="col-md-2">Id</div>
                <div class="col-md-5">Name</div>
                <div class="col-md-5"></div> <!--Guziki-->
            </div>
            <div class="row col-md-12" th:each="house : ${phlist}">
                <div class="col-md-2" th:text="${house.getId()}"></div>
                <div class="col-md-5" th:text="${house.getName()}"></div>
                <div class="row col-md-5">
                    <div class="col-md-4">
                        <a th:href="@{'/ph/remove/'+${house.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-danger col-md-12">Remove</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{'/ph/edit/'+${house.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-primary col-md-12">Edit</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{'/ph/books/'+${house.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-info col-md-12">List books</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="fragments :: footer"></footer>
</main>





<div th:replace="fragments :: footerscripts"></div>
</body>
</html>